                    <!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewBag.HeaderContent</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { area = "Admin"})">Trang chủ</a></li>
                    @if (ViewBag.BreadCrumb_lv1.BreadCrumbName != null && ViewBag.BreadCrumb_lv2.BreadCrumbName == null)
                    {
                        <li class="breadcrumb-item active">
                            <a href="@Url.Action(ViewBag.BreadCrumb_lv1.BreadCrumbAct, ViewBag.BreadCrumb_lv1.BreadCrumbCtrl)">
                                @ViewBag.BreadCrumb_lv1.BreadCrumbName
                            </a>
                        </li>
                    }
                    else if (ViewBag.BreadCrumb_lv1.BreadCrumbName != null && ViewBag.BreadCrumb_lv2.BreadCrumbName != null)
                    {
                        <li class="breadcrumb-item">
                            <a href="@Url.Action(ViewBag.BreadCrumb_lv1.BreadCrumbAct, ViewBag.BreadCrumb_lv1.BreadCrumbCtrl)">
                                @ViewBag.BreadCrumb_lv1.BreadCrumbName
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="@Url.Action(ViewBag.BreadCrumb_lv2.BreadCrumbAct, ViewBag.BreadCrumb_lv2.BreadCrumbCtrl)">
                                @ViewBag.BreadCrumb_lv2.BreadCrumbName
                            </a>
                        </li>
                    }
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->