@model CuaHangDongHo.Models.Supplier

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Thêm mới Nhà cung cấp</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="card-body">
                <div class="form-group row">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhà cung cấp..." } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.ProvinceId, Model.lstProvinces, new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.ProvinceId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.DistricstId, Model.lstDistricts, new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.DistricstId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.CommuneId, Model.lstCommunes, new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.CommuneId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DetailAddress, new { htmlAttributes = new { @class = "form-control mt-2", placeholder = "Số nhà" } })
                                @Html.ValidationMessageFor(model => model.DetailAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        <img id="previewImg" height="200" />
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info">Sign in</button>
                <button type="submit" class="btn btn-success float-right">Thêm mới</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section BeforeCss {
    <link href="~/Content/css/select2/select2.min.css" rel="stylesheet" />
}

@section AfterJs {
    <script src="~/Scripts/select2/select2.full.min.js"></script>
    <script src="~/Scripts/admin/suppliers-js.js"></script>
}